<!DOCTYPE html>
<html lang="ko">
<head th:fragment="config">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>백상 갤러리샵</title>
    <!-- CSS -->
    <link rel="preload" href="/fonts/NotoSansKR-Regular.ttf" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/NotoSansKR-Medium.ttf" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/NotoSansKR-Bold.ttf" as="font" type="font/woff2" crossorigin="anonymous">

    <link rel="preload" href="/fonts/EBGaramond-Regular.ttf" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/EBGaramond-Medium.ttf" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/EBGaramond-Bold.ttf" as="font" type="font/woff2" crossorigin="anonymous">

    <link rel="preload" href="/fonts/NotoSerifKR-Regular.ttf" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/NotoSerifKR-Medium.ttf" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/NotoSerifKR-Bold.ttf" as="font" type="font/woff2" crossorigin="anonymous">

    <!-- 공통 -->
    <link rel="shortcut icon" href="/images/common/favicon.ico">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/quill.snow.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- JS -->
    <!-- 공통 -->
    <script src="/js/aos.js"></script>
    <script src="/js/postcode.v2.js"></script>
    <script src="/js/quill.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/common.js"></script>
    <!------------------------------->
</head>
