<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
<footer class="footer_wrap" th:fragment="footer">
    <div class="footer">
        <ul class="ft_policy">
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="/about">회사소개</a></li>
        </ul>
        <ul class="ft_adress">
            <li>
                <p>대표자 : 권순상</p>
                <p>사업자 등록번호 : 137-81-30071</p>
            </li>
            <li>
                <p>주소 : 경기도 고양시 일산동구 산황로 178-15</p>
                <p>EMAIL :
                    <a href="#" class="ft_email">gbaexang@gmail.com</a>
                </p>
                <p>TEL : 031-954-9541</p>
                <p>FAX : 031-977-9540</p>
            </li>
        </ul>
        <p class="ft_copyright">Copyright © 2022 Baexang Gallery. All rights reserved.</p>
    </div>
    <div class="top_btn">
        <a href="#" class="go_top">
            <span class="blind">위로가기</span>
        </a>
    </div>
</footer>
</body>
</html>