<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head layout:fragment="config">
    <title>백상 갤러리샵</title>
    <link rel="stylesheet" href="/css/my_info_change.css">
    <link rel="stylesheet" href="/css/my_page_common.css">
    <script src="/js/my_page.js"></script>
</head>
<body>
<main id="container" class="my_infoC_container my_page_container" layout:fragment="content">
    <section class="my_page_wrap">
        <div class="my_page_inner">
            <!-- 좌측 네비게이션 -->
            <div th:replace="~{my_page/nav :: nav}"></div>
            <!-- 회원정보 확인 -->
            <div class="con_wrap">
                <div class="my_page_tit">
                    <h3>회원정보 확인</h3>
                </div>
                <div class="confirm_area">
                    <h4>비밀번호 재확인</h4>
                    <p>회원님의 정보를 안전하게 보호하기 위해 비밀번호를 한 번 더 확인합니다.</p>
                    <form action="#" method="post" class="fmemberconfirm">
                        <input type="hidden" id="name" th:value="${session.user.name}">
                        <input type="hidden" id="originPw" th:value="${session.user.pw}">
                        <fieldset>
                            <legend>회원정보 확인폼</legend>
                            <label for="mb_confirm_id" class="blind">회원 아이디</label>
                            <input type="text" name="mb_id" id="mb_confirm_id" th:value="${session.user.id}" readonly
                                   class="confirm_input" autocomplete="off">
                            <label for="mb_confirm_pw" class="blind">비밀번호</label>
                            <input type="password" name="mb_pw" id="mb_confirm_pw" placeholder="비밀번호" required
                                   class="confirm_input" size="15" maxlength="20" autocomplete="off">
                            <div class="confirm_btn_wrap">
                                <a href="#" class="confirm_btn">취소</a>
                                <input type="submit" class="confirm_btn confirm_btn_point" value="확인" id="submit_btn"
                                       autocomplete="off">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>