<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>백상 갤러리샵</title>
    <th:block th:replace="~{common/config :: config}" />
</head>
<body>
    <div id="skip_navi">
        <a href="#container">본문바로가기</a>
    </div>

    <!-- Header -->
    <header th:replace="~{common/header :: header}"></header>

    <!-- Content -->
    <th:block layout:fragment="content" />

    <!-- Footer -->
    <footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
