<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>백상 갤러리샵</title>
    <link rel="shortcut icon" href="/images/common/favicon.ico">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/goods_qna_write.css">
    <link rel="stylesheet" href="/css/quill.snow.css">
    <script src="/js/aos.js"></script>
    <script src="/js/quill.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/goods_qna_write.js"></script>
</head>
<body>
<main id="container" class="goods_qna_container qna_write_container">
    <div id="qa_write">
        <h1>상품문의 쓰기</h1>
        <form action="/shop/insert" method="post" autocomplete="off">
            <div class="qna_form">
                <label for="goods_no"></label>
                <input type="hidden" id="goods_no" name="goods_no" th:value="${viewOne.no}">
                <label for="member_id"></label>
                <input type="hidden" id="member_id" name="member_id" th:value="${session.user.id}">
                <ul>
                    <li>
                        <label for="goods_q_email"></label>
                        <input type="email" id="goods_q_email" name="goods_q_email" th:value="${session.user.email}" class="form_input"
                               placeholder="이메일">
                        <span>이메일을 입력하시면 답변 등록 시 답변이 이메일로 전송됩니다.</span>
                    </li>
                    <li>
                        <label for="goods_q_hp"></label>
                        <input type="text" id="goods_q_hp" name="goods_q_hp" th:value="${session.user.phone}" class="form_input" placeholder="핸드폰">
                        <span>휴대폰번호를 입력하시면 답변 등록 시 답변 등록 알림이 sms로 전송됩니다.</span>
                    </li>
                    <li>
                        <label for="goods_q_tit"></label>
                        <input type="text" id="goods_q_tit" name="goods_q_tit" value required class="form_input"
                               minlength="2" maxlength="250" placeholder="제목">
                    </li>
                    <div class="goods_question">
                        <textarea name="content" id="qnaEditor" data-editor></textarea>
                    </div>
                    <p>※ 사진 및 이미지는 드래그 & 드랍으로 업로드가 가능합니다.</p>
                </ul>
                <button type="submit" class="submit_btn">작성완료</button>
                <button type="button" class="close_btn">
                    <span class="blind">닫기</span>
                </button>
            </div>
        </form>
    </div>
</main>
</body>
</html>